body {
    background-color: #004988;
    background-image: url(../images/body-background-dlna.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family : Sans-Serif;
    color: White;
    font-size : 25px;
    font-weight: 400;
    margin: 0;
    min-width: 778px;
}

.rui-number {
    background-image: url(../images/element-number-background.png);
    width: 65px;
    height: 86px;
    line-height: 86px;
    float: left;
    text-align: center;
}

.rui.selected .rui-number, .rui:hover .rui-number {
    background-image: url(../images/element-number-highlight-background.png);
}

.rui {
    clear: both;
    width: 734px;
}

.rui-icon {
	width: 60px;
	height: 60px;
    float: left;
    margin-top: 13px;
    margin-left: 6px;
}

.rui-link {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: white;
}

.rui-frame {
    background-image: url(../images/element-name-background.png);
    background-repeat: no-repeat;
    width:650px;
    height:86px;
    float: left;
    margin-left: 10px;
}

.rui.selected .rui-frame, .rui:hover .rui-frame{
    background-image: url(../images/element-name-highlight-background.png);
}

.rui-name {
    float:left;
    padding: 0;
    margin-left: 20px;
    padding-top: 29px;
}

#rui-list {
    list-style-type: none;
    margin: 0;
    position: absolute;
    bottom: 22%;
    top: 38px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

header.main-header, footer.main-footer {
    padding: 0px;
    margin: 0px;
}

header.main-header {
    height: 38px;
    line-height: 38px;
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 80px;
}
